[Unit]
Description=Disable the buggy interrupt at boot

[Service]
Type=oneshot
ExecStart=/usr/bin/su -c "/usr/bin/echo \"disable\" > /sys/firmware/acpi/interrupts/gpe66"


[Install]
WantedBy=multi-user.target